<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
    <h1>
      G
    </h1>
    <app-date-picker></app-date-picker>
  </div>
  <div>
    <h1>
      Hijri
    </h1>
    <app-date-picker-hijri></app-date-picker-hijri>
  </div>
</div>
<br><br>
<br><br>
<hr>

<p><b>Reference:</b> Create a custom calendar with daily/weekly selection with moment in Angular by Kate Pynka
  <a href="https://link.medium.com/fqgIQSaopjb">
    https://link.medium.com/fqgIQSaopjb
  </a>
</p>