<div class="calendar">
  <div class="calendar-navs">
    <div class="month-nav">
      <button (click)="prevMonth()">&lt;</button>
      <span class="p4">{{ currentDate.format('MMMM') }}</span>
      <button (click)="nextMonth()">&gt;</button>
    </div>
    <div class="year-nav">
      <button (click)="prevYear()">&lt;</button>
      <span>{{ currentDate.format('YYYY') }}</span>
      <button (click)="nextYear()">&gt;</button>
    </div>
  </div>
  <div class="month-grid">
    <div class="day-names">
      <div *ngFor="let name of dayNames" class="day-name p9">
        {{ name }}
      </div>
    </div>
    <div *ngIf="calenderGenerated" class="weeks">
      <div  class="week">
        <div class="week-date disabled" *ngFor="let day of weeks[0].slice(0,notSelectedMonth())">
          <span class="date-text">{{ day.mDate.date() }}</span>
        </div>
        <ng-container *ngFor="let day of weeks[0].slice(notSelectedMonth())">
               <div class="week-date enabled"
               (click)="selectDate(day)"
               [ngClass]="{ today: day.today, selected: day.selected }">
               <span class="date-text">{{ day.mDate.date() }}</span>
               </div>
        </ng-container>
      </div>
    </div>
    <div class="weeks">
      <div *ngFor="let week of weeks.slice(1,lastWeek)" class="week">
        <ng-container *ngFor="let day of week">
               <div class="week-date enabled"
               (click)="selectDate(day)"
               [ngClass]="{ today: day.today, selected: day.selected }">
               <span class="date-text">{{ day.mDate.date() }}</span>
               </div>
        </ng-container>
      </div>
    </div>
    <div class="weeks">
      <div  class="week">
        <ng-container *ngFor="let day of weeks[lastWeek].slice(0,notLastSelectedMonth()+1)">
          <div class="week-date enabled"
          (click)="selectDate(day)"
          [ngClass]="{ today: day.today, selected: day.selected }">
          <span class="date-text">{{ day.mDate.date() }}</span>
        </div>
      </ng-container>
      <div class="week-date disabled" *ngFor="let day of weeks[lastWeek].slice(notLastSelectedMonth()+1)">
        <span class="date-text">{{ day.mDate.date() }}</span>
      </div>
      </div>
    </div>
    <div *ngIf="lastWeek ==4" class="weeks">
        <div  class="week">
          <div class="week-date disabled" *ngFor="let day of weeks[5]">
            <span class="date-text">{{ day.mDate.date() }}</span>
          </div>
        </div>
    </div>
  </div>
</div>
